<%- include('./partials/header.ejs') %>
<div class="container add-notes">
    <a href="/add">
        <button type="submit" class="btn btn-primary add-note-btn mt-3">Add Note
            <span class="note-icon"><i
                    class="fa-solid fa-notes-medical"></i></span></button>
    </a>
</div>

<div class="container notes ">
    <div class="row">
        <div class="row">
            <% userNotes.forEach(function(note) { %>
            <div class="col-lg-4">
                <a href="/update/<%= note._id %>">
                    <div class="outer-container">
                        <div class="<%= randomNotesColor %> box rounded-corner">
                            <div class="note-pin">
                                <img class="pin-img" src="./img/pin.webp" alt>
                            </div>
                            <div class="notes-content">
                                <h2><%= note.title %></h2>
                                <div class="line"></div>
                                <p><%= note.content.substr(0, 220) +
                                    '.....'%></p>
                            </div>
                        </div>
                        <div
                            class="<%= randomNotesColor %> rotated-box rounded-corner"></div>
                    </div>
                </a>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
